html{
    height: 100vh;
    min-width: 600px;
    background-image: linear-gradient(130deg,#FFFF,lightblue);
    background-repeat: no-repeat;
    background-size: auto;
  }
  
  div{
    background-color: aqua;
  }
  
  li{
    display: flex;
    border-bottom: 3px solid gold;
    padding: 15px 0;
    font-size: 1rem;
  }